<ul>
  <% @nerds.each do |nerd| %>
    <li>
      <h3><%= link_to nerd.name, nerd.url %></h3>
      <p><%= nerd.phone %><br />
      <%= nerd.area %><br />
      <%= nerd.email %><br />
      <%= link_to 'Destroy', destroy_path(nerd), :confirm => 'Are you sure?', :method => :delete %></p>
    </li>
  <% end %>
</ul>
<%= will_paginate @nerds %>
<br />
<%= link_to 'novo', new_nerd_path %>
