<% unless @nerds.empty? %>
<div id="cards">
  <table>
    <tr>
    <% @nerds.each do |nerd| %>
      <%= cycle("", "", "", raw("</tr><tr>")) %>
      <td>
        <div class="tags">
          <% nerd.tag_list[0..2].each do |t| %> <span class="tag"><%= t %></span><br /> <% end %>
        </div>
        <div class="note rounded">
          <h3><%= link_to nerd.name, url_for(:host =>nerd.link, :protocol => 'http') %> </h3>
          <p><%= nerd.phone %><br />
          <%= nerd.email %>
          <span class="remove"><%= link_to image_tag('delete.png', :size => "10x10"), destroy_path(nerd), :confirm => 'Are you sure?', :method => :delete, :title => "Clique para remover!" %></span>
          </p>
        </div>
      </td>
    <% end %>
    </tr>
  </table>
</div>
  <%= will_paginate @nerds %>
<% else %>
  <h3 style="margin: 30px; color: #DDD">Nenhum nerd encontrado!</h3>
<% end %>

