<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  </head>
  <body>
    <h1>Hey, <%= @user.name %></h1>
    <p>
      Você foi cadastrado no site <%= link_to 'NerdsHall', 'http://nerdshall.heroku.com' %>.
      NerdsHall é um mural de contatos de freelancers em desenvolvimento e webdesign.<br /><br />
      
      Seus dados:<br />
      Nome: <b><%= @user.name %></b><br />
      Telefone: <%= @user.phone %><br />
      Email: <%= @user.email %><br />
      Site: <%= @user.url %><br />
    </p>
    <p>
      Para confirmar sua participação <%= link_to 'clique aqui!', @confirm %>.<br />
      Para cancelar sua participação <%= link_to 'clique aqui!', @remove %>.
    </p>
  </body>
</html>
