<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Nerds Free</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

	<header>
		<div id="header">
			<h1><a href="#">Nerds Free</a></h1>
		</div>
	</header>
	
	<div class="intro">
		<div id="intro">
			<h1>Entre em contato com os desenvolvedores freelancer em Natal/RN.</h1>
		</div>
	</div>
	
	<div class="content">
		<div id="contacts"><%= yield %></div>
	</div>
	
	<div class="downbox">
		<div id="search">
			<h2></h2>
			<section>
        <% tag_cloud(Nerd.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
          <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
        <% end %>
      </section>
			<p>Busca</p>
		</div>
	</div>
	
	<footer>
		<div id="footer">
			<p><a href="#q">FAQ</a> · <a href="mailto:contato@krawdyah.com">Contato</a></p>
      <p>© Claudia Farias</p>
    </div>
	</footer>

</body>
</html>
