<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Nerds Hall</title>
  <%= stylesheet_link_tag 'scaffold', 'ui.notify' %>
  <%= javascript_include_tag 'jquery', 'jquery.tools.min', 'ui.widget', 'jquery.notify', 'application' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        $("#new_nerd").validator();
        <% unless flash.empty? %>
        $("#container").notify("create", {
            text: '<%= flash[:notice] %>'
        });
        <% end %>
    });
  </script>
</head>
<body>

<div id="container">
    <div id="basic-template">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <p>#{text}</p>
    </div>
</div>


<div id="main">
	<header>
		<div id="header">
			<%= link_to image_tag('logo.png'), root_path %>
			<h2><i>Desenvolvedores e WebDesigner Freelancer em Natal-RN</i></h2>
		</div>
	</header>
	
	<div id="tour">
		<%= yield %>
	</div>
	
	<div class="downbox">
		<div id="section">
			<div class="left">
			  <%= form_tag(search_path) do %>
          <%= text_field_tag :search, nil, :type => :search %>
          <%= image_tag('search.png', :size => '24x24') %>
			  <% end %>
        <br />
			  <div id="tags">
          <% tag_cloud(Nerd.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
          <% end %>
        </div>
			</div>
			<div class="right">
			  <p>Você é desenvolvedor ou webdesigner com tempo livre em Natal? <%= link_to 'Diga a todos.', faq_path,:rel => "facebox[.bolder]" %></p>
			</div>
		</div>
	</div>
	
	<footer>
		<div id="footer">
			<span><%= link_to 'FAQ', faq_path %> · <a href="mailto:contato@krawdyah.com">Contato</a> . Claudia Farias © 2010</span>
    </div>
	</footer>

</div>


</body>
</html>
