<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Nerds Hall</title>
  <%= stylesheet_link_tag 'scaffold', 'ui.notify', 'jquery.ui.autocomplete.custom' %>
  <%= javascript_include_tag 'jquery', 'jquery.tools.min', 'ui.core', 'ui.widget', 'jquery.notify', 'jquery-ui-1.8.autocomplete.min', 'jquery-ui-1.8.core-and-interactions.min', 'tag-it', 'application' %>
  <%= csrf_meta_tag %>
  <script type="text/javascript">
    jQuery(document).ready(function($){
        $("#new_nerd").validator();
        <% unless flash.empty? %>
        $("#container").notify("create", {
            text: '<%= flash[:notice] %>'
        });
        <% end %>
    });
  </script>
</head>
<body>

<div id="container">
    <div id="basic-template">
        <a class="ui-notify-cross ui-notify-close" href="#">x</a>
        <p>#{text}</p>
    </div>
</div>


<div id="main">
	<header>
		<div id="header">
			<%= link_to image_tag('nerdshall_logo.png'), root_path %>
			<h2><i>Desenvolvedores e WebDesigners Freelancer em Natal-RN</i></h2>
		</div>
	</header>
	
	<div id="tour">
		<%= yield %>
	</div>
	
	<div class="downbox">
		<div id="section">
			<div class="left">
			  <div class id="tags">
          <% tag_cloud(Nerd.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.id), :class => css_class %>
          <% end %>
        </div>
			</div>
			<div class="right">
			  <p>Você é desenvolvedor ou webdesigner com tempo livre em Natal? <%= link_to 'Diga a todos.', faq_path,:rel => "facebox[.bolder]" %></p>
			  <br />
			  <div id="search">
			    <%= form_tag(search_path) do %>
            <%= text_field_tag :search, nil, :type => :search %>
			    <% end %>
			  </div>
			</div>
		</div>
	</div>
	
	<footer>
		<div id="footer">
			<span><%= link_to 'FAQ', faq_path %> · <a href="mailto:contato@krawdyah.com">Contato</a>  · <%= link_to 'Sobre', 'http://blog.krawdyah.com/2010/11/nerds-for-freela/' %> · Claudia Farias © 2011</span>
    </div>
	</footer>

</div>


</body>
</html>
