<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Nerds For Free</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= javascript_include_tag :all %>
  <%= csrf_meta_tag %>
</head>
<body>
<div id="container">
	<header>
		<div id="header">
			<h1><%= link_to 'Nerds for Free', root_path %></h1>
			<h2>Desenvolvedores e WebDesigner Freelancer em Natal-RN</h2>
		</div>
	</header>
	
	<!-- div class="intro">
		<div id="intro">
			<h2>Entre em contato com os desenvolvedores freelancer em Natal/RN.</h2>
		</div>
	</div -->
	
	<div id="tour">
		<%= yield %>
	</div>
	
	<div class="downbox">
		<div id="section">
			<div class="left">
			  <%= form_tag search_path do |f| %>
          <%= text_field_tag :search, nil, :type => :search %>
			  <% end %>
        <br />
			  <div id="tags">
          <% tag_cloud(Nerd.tag_counts_on(:tags), %w(css1 css2 css3 css4)) do |tag, css_class| %>
            <%= link_to tag.name, tag_path(tag.name), :class => css_class %>
          <% end %>
        </div>
			</div>
			<div class="right">
			  <p>Você é desenvolvedor ou webdesigner com tempo livre em Natal? <%= link_to 'Diga a todos.', faq_path,:rel => "facebox[.bolder]" %></p>
			</div>
		</div>
	</div>
	
	<footer>
		<div id="footer">
			<span><%= link_to 'FAQ', faq_path %> · <a href="mailto:contato@krawdyah.com">Contato</a> . Claudia Farias © 2010</span>
    </div>
	</footer>

</div>
</body>
</html>
